@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+IT+Trad:wght@100..400&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #D14927FF;
  --primary-hover: #b43d21;
  --text-color: #333;
  --text-font: "Playwrite IT Trad", sans-serif;
  --subtitle-color: rgb(209, 73, 39);
  --subtitle-font: "Funnel Sans", sans-serif;
  --padding-section: 2rem;
}

.bodyConvite, .bodyPix {
  position: relative;
  overflow: hidden; /* Garante que o pseudo-elemento não saia da área visível */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.bodyConvite::before, .bodyPix::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/flowers.png");
  background-size: cover;
  background-position: center;
  z-index: -1; /* Fica atrás do conteúdo */
  opacity: 1; /* Mantém a transparência original */
}


.bodyPix {
  height: 100vh;
}

.frame, .framePix {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 0.3rem;
  border: 2px solid var(--subtitle-color);
  padding: var(--padding-section);
  max-width: 700px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 60%;
  height: auto;
  justify-content: space-between;
}

.framePix {
  gap: 0;
}

.names {
  width: 100%;
  max-width: 400px;
}

.subtitle {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--subtitle-color);
  margin-bottom: 0.5rem;
  font-family: var(--subtitle-font);
}

.text, .textPix {
  text-align: center;
  color: var(--text-color);
  line-height: 1.5;
  font-size: 1rem;
  font-family: var(--text-font);
  color: #343472;
}

.textPix {
  font-family: var(--subtitle-font);
}

.date {
  font-weight: bold;
}

.buttonsContainer {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
}


.button, .buttonPix {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
}

.buttonsContainerPix {
  display: flex;
  width: 100%;
}

.buttonPix {
  padding: 0.3rem;
}

.button:hover, .buttonPix:hover {
  background-color: var(--primary-hover);
}


.pixCode {
  color: var(--primary-color);
  font-family: var(--subtitle-font);
  margin-bottom: 0.3rem;
}

.pixQRCode {
  border-radius: 0.3rem;
  border: 1px solid #343472;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  width: 50%;
  max-width: 200px;
}

@media (max-width: 768px) {

  .frame {
    padding: 1.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .text {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) and (orientation: landscape) {

  
}
